<div class="container">
    <h1>Add a Review</h1>
    <form class="review">
        <div class="form-group">
            <label for="exampleCustomerName">Name of Customer</label>
            <input type="string" class="form-control" id="customerName" placeholder="name">
        </div>
        <div class="form-group">
            <label for="examplePhoneNumber">Phone Number?</label>
            <input type="number" class="form-control" id="phoneNumber" placeholder="phone number">
        </div>
        <div class="form-group">
            <label for="reviews">Comments and Reviews</label>
            <input type="string" class="form-control" id="reviews" placeholder="comments">
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
    </div>
</div>
<script type="text/javascript" src="javascript/customers.js"></script>