
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
          </a>
          <form class="form-inline">
            <button class="btn btn-outline-danger" type="button">write a review</button>
          </form>
        <form class="form-inline justify-content-end">
          <button class="btn btn-outline-danger log" type="button">Log in</button>
          <button class="btn  btn-outline-danger" id="signUp" type="button">Sign up!</button>
        
        </form>
    </nav>
    <div class="container">
        <h1>The Reverse Yelp!</h1>
            <img src=""  class="logo" alt="logo text">
    
      <form class="input-group mb-3" id="search">
            <input type="text" id="text" class="form-control" placeholder="please enter a name or phone number">
            <div class="input-group-append">
              <button class="btn btn-outline-danger" type="submit">Search</button>
            </div>
        </form>
    </div>


